## 选择

https://www.pypandas.cn/docs/user_guide/cookbook.html#%E9%80%89%E6%8B%A9

#### 具体条件选择

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({
    'AAA':[4,5,6,7],
    'BBB':[10,20,30,40],
    'CCC':[100,50,-30,-50]
})
df

   AAA  BBB  CCC
0    4   10  100
1    5   20   50
2    6   30  -30
3    7   40  -50

In [8]:
TJ1=df.AAA<=6
TJ2=df.index.isin([0,2,4])
df[TJ1 & TJ2]

   AAA  BBB  CCC
0    4   10  100
2    6   30  -30

#### 通过切片选择

        - 按标签切片：df.loc[起始标签:结尾标签] （非python风格含结尾）
        - 按位置切片：df.iloc[起始位置:结尾位置]

In [18]:
data={'AAA':[4,5,6,7],
    'BBB':[10,20,30,40],
    'CCC':[100,50,-30,-50]}
df=pd.DataFrame(data=data,index=['foo','bar','boo','kar'])

df

     AAA  BBB  CCC
foo    4   10  100
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [13]:
df.loc['bar':'kar']

     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30
kar    7   40  -50

In [17]:

TJ1=df.AAA<=6
TJ2=df.index.isin([0,2,4])
df.iloc[1:3]

     AAA  BBB  CCC
bar    5   20   50
boo    6   30  -30

#### 取反选择  ~

In [20]:
df=pd.DataFrame({
    'AAA':[4,5,6,7],
    'BBB':[10,20,30,40],
    'CCC':[100,50,-30,-50]
})
TJ1=df.AAA<=6
TJ2=df.index.isin([0,2,4])
df[~(TJ1 & TJ2)]

   AAA  BBB  CCC
1    5   20   50
3    7   40  -50

#### 分组排序选择  groupby

        1. 先分组后排序(保留原始索引):
        df.loc[df.groupby(分组列)[排序列].idxmin()]
        
        2. 先排序后分组(重新生成索引):
        df.sort_values(by=排序列).groupby(分组列,as_index=False) 
        .first()

题目：

1. 对df按照'AAA'分组，再按'BBB'排序，选取每组中索引最小的记录

2. 对df按照'BBB'排序，再按'AAA'分组，选取每组的第一个记录

In [29]:
df=pd.DataFrame({
    'AAA':[1,1,1,2,2,2,3,3,],
    'BBB':[2,1,3,4,5,1,2,3]
})

df

   AAA  BBB
0    1    2
1    1    1
2    1    3
3    2    4
4    2    5
5    2    1
6    3    2
7    3    3

In [30]:
df.loc[df.groupby('AAA')['BBB'].idxmin()]

   AAA  BBB
1    1    1
5    2    1
6    3    2

In [35]:
df.sort_values(by='BBB').groupby('AAA',as_index=False).first()

   AAA  BBB
0    1    1
1    2    1
2    3    2

#### 选取的结果生成新列

        - df.applymap()

In [27]:
df=pd.DataFrame({
    'AAA':[1,2,1,3],
    'BBB':[1,1,2,2],
    'CCC':[2,1,3,1]
})
df

   AAA  BBB  CCC
0    1    1    2
1    2    1    1
2    1    2    3
3    3    2    1

In [28]:
#原始列-数组
source_cols=df.columns
#新列-数组
new_cols=[str(x) + '_cat' for x in source_cols]
#映射关系-字典
categories={1:'Alpha',2:'Beta',3:'Charlie'}
#连接生成
df[new_cols]=df[source_cols].applymap(categories.get)
df

   AAA  BBB  CCC  AAA_cat BBB_cat  CCC_cat
0    1    1    2    Alpha   Alpha     Beta
1    2    1    1     Beta   Alpha    Alpha
2    1    2    3    Alpha    Beta  Charlie
3    3    2    1  Charlie    Beta    Alpha