In [1]:
import pandas as pd

DataFrame初始化

In [2]:
df=pd.DataFrame(
    {'AAA':[2,3,4,8],
    'BBB':[23,4,5,7],
    'CCC':[244,77,-56,-67]}
)
df

   AAA  BBB  CCC
0    2   23  244
1    3    4   77
2    4    5  -56
3    8    7  -67

按条件更改数据1——df.loc[条件，修改的列]=新值
        
        if AAA列的值>=5，then 更改'BBB'列为-1

        if AAA列的值>=5，then 更改'BBB'和'CCC'列为555

        if AAA列的值<5，then 更改'BBB'和'CCC'列的值为2000

In [3]:
df.loc[df.AAA>=5,'BBB']=-1
df

   AAA  BBB  CCC
0    2   23  244
1    3    4   77
2    4    5  -56
3    8   -1  -67

In [4]:
df.loc[df.AAA>=5,['BBB','CCC']]=555
df

   AAA  BBB  CCC
0    2   23  244
1    3    4   77
2    4    5  -56
3    8  555  555

In [6]:
df.loc[df.AAA<5,['BBB','CCC']]=2000
df

   AAA   BBB   CCC
0    2  2000  2000
1    3  2000  2000
2    4  2000  2000
3    8   555   555

按条件更改数据2——布尔掩码（暂时未理解作用）

        False 用新的值掩盖真实值

In [8]:
df_mask=pd.DataFrame(
    {'AAA':[True]*4,
    'BBB':[False]*4,
    'CCC':[True,False]*2}
)

df.where(df_mask,-1000)
df

   AAA   BBB   CCC
0    2  2000  2000
1    3  2000  2000
2    4  2000  2000
3    8   555   555

按条件修改数据——np.where(条件，满足的赋值，不满足的赋值)


        if ‘AAA’>5, then 'logic'=high, else 'logic'='low'

In [11]:
import numpy as np
df=pd.DataFrame({
    'AAA':[4,5,6,7],
    'BBB':[10,20,30,40],
    'CCC':[100,50,-30,-50]
})
df

df['logic']=np.where(df.AAA>5,'high','low')
df

   AAA  BBB  CCC logic
0    4   10  100   low
1    5   20   50   low
2    6   30  -30  high
3    7   40  -50  high

按条件切割DataFrame

        df[单列条件] 
        df.loc[条件1 & 条件2, '返回的列名']

In [40]:
df=pd.DataFrame({
    'AAA':[4,5,6,7],
    'BBB':[10,20,30,40],
    'CCC':[100,50,-30,-50]
})
df

df[df['AAA']<=5]

   AAA  BBB  CCC
0    4   10  100
1    5   20   50

In [41]:
df.loc[(df['BBB']<25)&(df['CCC']>=-40),'AAA']

0    4
1    5
Name: AAA, dtype: int64

In [42]:
df.loc[(df['BBB']>25) | (df['CCC']>=-40), 'AAA']

0    4
1    5
2    6
3    7
Name: AAA, dtype: int64

？疑问：df.AAA 与 df['AAA']的区别

In [43]:
df.loc[(df['BBB']>25) | (df['CCC']>=75),'AAA']=0.1
df

   AAA  BBB  CCC
0  0.1   10  100
1  5.0   20   50
2  0.1   30  -30
3  0.1   40  -50

按条件排序


        argsort()按最接近目标值排序
        多条件的列表:1.硬编码 2.封装成函数

In [46]:
df=pd.DataFrame({
    'AAA':[4,5,6,7],
    'BBB':[10,20,30,40],
    'CCC':[100,50,-30,-50]
})
df

aValue=43.0

df.loc[(df.CCC-aValue).abs().argsort()]

   AAA  BBB  CCC
1    5   20   50
0    4   10  100
2    6   30  -30
3    7   40  -50

In [47]:
df=pd.DataFrame({
    'AAA':[4,5,6,7],
    'BBB':[10,20,30,40],
    'CCC':[100,50,-30,-50]
})
df

TJ1=df.AAA<=5.5
TJ2=df.BBB==10.0
TJ3=df.CCC>-40.0

方法1：硬编码

In [48]:
ALLTJ=TJ1 & TJ2 & TJ3
df[ALLTJ]

   AAA  BBB  CCC
0    4   10  100

方法2：生成动态条件列表

In [49]:
import functools

TJList=[TJ1,TJ2,TJ3]

ALLTJ=functools.reduce(lambda x, y: x & y, TJList)

df[ALLTJ]

   AAA  BBB  CCC
0    4   10  100